<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Andrew XUe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="andrewxwebsite">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Xue</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <!-- <script defer src="../static/script.js" ></script> -->
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Andrew Xue
        </h1>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contactme.html">Contact Me</a>
            <a href="forfun.html">For Fun</a>
        </nav>
        

    </header>
    <div class="mainLayout">
        <div class="item1">
            <h2>Find Me</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58057.236439827386!2d-81.81506769124424!3d24.569266010037257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d1b134ad952377%3A0x3fcee92f77463b5e!2sKey%20West%2C%20FL%2033040!5e0!3m2!1sen!2sus!4v1742766963726!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="item2">
            <h2>Contact Me</h2>
            <form id="contactForm" action="#" method="post" onsubmit="validateForm(event)">
                <label for="name">Your name (required)</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Your email (required)</label>
                <input type="email" id="email" name="email" required>

                <label for="comment">Your comment (required)</label>
                <textarea id="comment" name="comment" rows="5" required></textarea>

                <input type="submit" value="SEND">

                <div id="errorMessages"></div>
            </form>
        </div>
        
        
        
    
        <h3>Contact Method Description</h3>
        <table class="contact-table">
            <thead>
                <tr>
                    <th>Contact Method</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email:</td>
                    <td>andrewx@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>650-387-7150</td>
                </tr>
                <tr>
                    <td>LinkedIn:</td>
                    <td><a href="https://linkedin.com/in/andrewxue1">linkedin.com/in/andrewxue1</a></td>
                </tr>
            </tbody>
            <!-- Email: andrewx@andrew.cmu.edu<br>
            Phone: 650-387-7150<br>
            LinkedIn: <a href="https://linkedin.com/in/andrewxue1">linkedin.com/in/andrewxue1</a> -->
        </table>
    
    </div>
    <footer>
        <p id="copyYear">© Andrew Xue. All rights reserved.</p>
    </footer>
    <script src="../static/contact.js"></script>
</body>
</html>