<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Andrew XUe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="andrewxwebsite">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Xue</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script defer src="../static/script.js" ></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Andrew Xue
        </h1>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contactme.html">Contact Me</a>
            <a href="forfun.html">For Fun</a>
        </nav>

    </header>
    <div class="mainLayout">
        <!-- <h2>Things I love to do for fun</h2>

        <button id="showButton" onclick="showList()">Click to see...</button>
        <ul id="funList">
            <li>Traveling</li>
            <li>Sleeping</li>
            <li>Backpacking</li>
            <li>Eating</li>
            <li>Basketball</li>
        </ul> -->
        <div class="item1">
            <h2>Things I love to do for fun</h2>

            <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->
            <ul id="funList">
                <li>Traveling</li>
                <li>Sleeping</li>
                <li>Backpacking</li>
                <li>Eating</li>
                <li>Basketball</li>
            </ul>
        </div>
        <div class="item2">
            <img src="../static/rock.JPG" alt="A picture in San Diego" width="300">
        </div>
        <div class="item3">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/oPmhE_EmLjk?si=5fl3nJPCRJhgFX7w">
            </iframe>
        </div>
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
              </div>
        </div>
    </div>
    <footer>
        <p id="copyYear">©Andrew Xue. All rights reserved.</p>
    </footer>
    <script src="../static/fun.js"></script>
</body>
</html>