<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Andrew XUe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="andrewxwebsite">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Xue</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script defer src="../static/script.js" ></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Andrew Xue
        </h1>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contactme.html">Contact Me</a>
            <a href="forfun.html">For Fun</a>
        </nav>

    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>

        <button id="showButton" onclick="showList()">Click to see...</button>
        <ul id="funList">
            <li>Traveling</li>
            <li>Sleeping</li>
            <li>Backpacking</li>
            <li>Eating</li>
            <li>Basketball</li>
        </ul>
    </div>
    <footer>
        <p id="copyYear">©Andrew Xue. All rights reserved.</p>
    </footer>
    
</body>
</html>