<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Andrew XUe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="andrewxwebsite">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Xue</title>
</head>
<body >
    <header>
        <h1>
            Andrew Xue
        </h1>
        <nav>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="contactme.html">Contact Me</a></li>
            <li><a href="forfun.html">For Fun</a></li>
        </nav>

    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Traveling</li>
            <li>Sleeping</li>
            <li>Backpacking</li>
            <li>Eating</li>
            <li>Basketball</li>
        </ul>
    </div>
    <footer>
        © 2025 Andrew Xue. All rights reserved.
    </footer>
    
</body>
</html>