
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "width" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70;
}

nav.nav-links a {
    text-decoration: none;
    color: #3498db;
    margin-right: 15px;
}


.cv-table th {
    padding: 12px 0;
    background-color: #3498db;
    color: white;
    width: fit-content;
}

.cv-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

/* Center the entire form */
form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.contact-table th {
    padding: 12px 0;
    background-color: gray;
    width: fit-content;
}

.contact-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
/* General styling for the bio section */
#bioSection {
    margin-top: 20px;
}

/* Styling for the short bio text */
#shortBio {
    font-size: 16px;
    line-height: 1.6;
}

/* Styling for the full bio text */
#fullBio {
    display: none;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

/* Button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}
#readLessBtn {
    display: none;
}

#funList {
    display: none;
}